:root {
	--main-background: #fefefe;
	--main-background-two: #fafafa;
	--light-colour: #fefefe;
	--dark-colour: #4c566a;
	--text-colour: #2e3440;
	--black-text-colour: #2e3440;
	--red-accent: #ee7067;
	--accent-2: #e85a4f;
	--accent-3: #383542;
	--navbar-hover: rgba(0, 0, 0, 0.05);
	--navbar-click: rgba(0, 0, 0, 0.1);
	--url-hover: #e62719;
	--url-visited: #cf2317;
	--url-not-visited: #ee8968;
}

body {
	padding: 0;
	margin: 0;
}

.section {
	padding-top: 7rem;
	padding-bottom: 7rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 5.25rem;
	color: var(--black-text-colour);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 0;
}

h2 {
	font-size: 2.8rem;
	color: var(--text-colour);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 5.5rem;
	margin: 0;
}

h3 {
	font-size: 2.1rem;
	color: var(--text-colour);
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-bottom: 2rem;
	line-height: 2.25rem;
}

h4 {
	font-size: 1.5rem;
	color: var(--text-colour);
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 2rem;
}

h5 {
	font-size: 1.1rem;
	color: var(--text-colour);
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	margin: 0;
	margin-bottom: 0.3rem;
	line-height: 2rem;
}

p {
	font-size: 1.1rem;
	color: var(--text-colour);
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	margin: 0;
	margin-bottom: 0.25rem;
}

hr.divider {
	display: block;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	width: 48px;
	height: 2px;

	&-black {
		@extend .divider;
		background-color: var(--black-text-colour);
	}

	&-red {
		@extend .divider;
		background-color: var(--red-accent);
	}
}

a {
	color: var(--url-not-visited);
	text-decoration: none;
}

a:visited {
	color: var(--url-visited);
}

a:hover {
	color: var(--url-hover);
	text-decoration: underline;
}
